parameters:
	ignoreErrors:
		-
			message: '#^Offset ''expired_pickups'' on array\{skipped\?\: bool, reason\?\: string, scheduled_loans_activated\?\: int, reservations_converted\?\: int, expired_reservations\?\: int, overdue_loans_updated\?\: int, expiration_warnings\?\: int, overdue_notifications\?\: int, \.\.\.\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Support/MaintenanceService.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: app/Support/QueryCache.php

		-
			message: '#^Constant CURLOPT_REDIR_PROTOCOLS_STR not found\.$#'
			identifier: constant.notFound
			count: 2
			path: app/Controllers/LibriController.php

		-
			message: '#^Offset ''traduttore'' on array#'
			identifier: isset.offset
			count: 1
			path: app/Models/BookRepository.php

		-
			message: '#^Offset ''illustratore'' on array#'
			identifier: isset.offset
			count: 1
			path: app/Models/BookRepository.php
